/* ==================================================
   Fonts
================================================== */

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans",Arial,Helvetica Neue,sans-serif;
  color: #706F6F;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.reveal p {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
}

.reveal section img {
  border: 0;
  background: none;
  box-shadow: none;
}

.reveal h1 {
  font-family: 'Archivo Black', sans-serif;
  color: #FFFFFF;
  text-transform: none;
  font-size: 2em;
  margin-top: 50px;
}

.reveal h2, .reveal .title-optional {
  font-family: 'Anton', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.reveal .title-optional {
  display: block;
  font-weight: 600;
  line-height: 1.2;
}

/* ==================================================
    Home
================================================== */
#home {
  color: #FFFFFF;
}

#home .main {
  font-family: 'Anton', sans-serif;
  display: block;
  font-size: 1.5em;
  color: #ECE819;
}

#home .logo-sign {
  margin: 60px 0 0;
}

/* ==================================================
    Benefits
================================================== */
#benefits .title-optional {
  color: #FFFFFF;
}

#benefits .benefits-container {
  /*background: rgba(0, 0, 0, 0.79);*/
  padding: 20px;
  margin-top: 20px;
  /*border-radius: 80px;*/
}

#benefits .benefit-col-left {
  margin-left: 8.33333333%;
}

#benefits .benefit-col-right {
  margin-left: 16.66666667%;
}

.benefits-list {
  list-style-type: none !important;
  margin-left: 0 !important;
}

.benefits-list li {
  font-size: 20px;
  color: #DDCEB7;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  align-items: center;
  -webkit-align-items: center;
  -moz-box-align: center;
}

.benefits-list li img{
  width: 80px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

/* ==================================================
    But
================================================== */
#but {
  color: #ECE819;
}

/* ==================================================
    Seo-1
================================================== */
#seo-1 img {
  border-radius: 30px;
}

/* ==================================================
    Seo-2
================================================== */
#seo-2 h2 {
  color: #ECE819;
}

#seo-2 p {
  color: #FFFFFF;
}

/* ==================================================
    RD
================================================== */
#responsive-design p, #responsive-design-2 p {
  color: #FFFFFF;
}

#responsive-design-2 h2 {
  color: #ECE819;
}

/* ==================================================
    Analytics
================================================== */
#analytics {
  top: 20px !important;
}

#analytics .title-optional {
  color: #0075CA;
}

#analytics-2 {
  color: #FFFFFF;
}

#analytics-2 h2{
  color: #ECE819;
}

.ga-list .opt-1 {
  color: #D6C8B2;
}

.ga-list .opt-2 {
  color: #9AD0B5;
}

.ga-list .opt-3 {
  color: #D09AB2;
}

.ga-list .opt-4 {
  color: #9E9AD0;
}

.ga-list .opt-5 {
  color: #CCD09A;
}

/* ==================================================
    Portfolio
================================================== */
#portfolio .project img {
  padding: 50px;
}

/* ==================================================
    Contact
================================================== */
#contact .title-optional {
  color: #ECE819;
}

#contact p {
  color: #FFFFFF;
}

/* ==================================================
    Thanks
================================================== */
#thanks {
  top: 20px !important;
  font-family: 'Josefin Sans', sans-serif;
  color: #706F6F;
}

#thanks .thanks-container {
  margin-left: 16.66666667%;
}

#thanks .thanks-container .first {
  color: #1DF539;
  font-size: 20px;
}

#thanks .thanks-container .second {
  color: #C8F51D;
}

#thanks .thanks-container .third {
  color: #419DFF;
  font-size: 20px;
}

#thanks .img-logo {
  width: 250px;
}
